@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

/* Remove explicit theme blocks or just keep them minimal */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), sans-serif;
}